/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@keyframes t-one {
    0% { opacity: 0%; }
    5% { opacity: 100%; }
    15% { opacity: 100%; }
    20% { opacity: 0%; }
    100% { opacity: 0%; }
}
@keyframes t-two {
    0% { opacity: 0%; }
    20% { opacity: 0%; }
    25% { opacity: 100%; }
    35% { opacity: 100%; }
    40% { opacity: 0%; }
    100% { opacity: 0%; }
}
@keyframes t-three {
    0% { opacity: 0%; }
    40% { opacity: 0%; }
    45% { opacity: 100%; }
    55% { opacity: 100%; }
    60% { opacity: 0%; }
    100% { opacity: 0%; }
}
@keyframes t-four {
    0% { opacity: 0%; }
    60% { opacity: 0%; }
    65% { opacity: 100%; }
    75% { opacity: 100%; }
    80% { opacity: 0%; }
    100% { opacity: 0%; }
}
@keyframes t-five {
    0% { opacity: 0%; }
    80% { opacity: 0%; }
    85% { opacity: 100%; }
    95% { opacity: 100%; }
    100% { opacity: 0%; }
}
@keyframes fade {
    0% {
        opacity: 0;
        margin-top: -1.5rem;
    }
    5% {
        opacity: 0;
        margin-top: 0;
    }
    10% {
        opacity: 1;
        margin-top: 0;
    }
    90% {
        opacity: 1;
        margin-top: 0;
    }
    95% {
        opacity: 0;
        margin-top: 0;
    }
    100% {
        opacity: 0;
        margin-top: -1.5rem;
    }
}

body {
    background-color: white;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}


header {
    width: 100%;
    height: 15vh;

    border-bottom: 3px solid black;
    padding-bottom: 0.5rem;
    background-color: #f7f7f7;
    margin-bottom: 0;
}
header div {
    height: 100%;
    width: 75%;
    margin: 0rem auto;

    display: grid;
    grid-template-rows: 75% 25%;
    grid-template-columns: 1fr;
}
header div h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3.5rem;
}

header div h1 a {
    text-decoration: none;
    color: black;
}
header div nav {
    margin: 0 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
}
header div nav a {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: black;
    font-weight: bold;
}
.nav-divisions {
    background-color: #f2e4f2;
    border: 2px solid #997d99;
}
.nav-divisions:hover {
    background-color: #decade;
    border-color: #614a61;
}
.nav-projects {
    background-color: #e6ecf5;
    border: 2px solid #768cad;
}
.nav-projects:hover {
    background-color: #cedbed;
    border-color: #5c7294;
}

#flash {
    opacity: 0;
    margin-top: -1.5rem;
    height: auto;
    animation: 3s fade linear 1;
}
#flash p {
    margin: 0;
    height: 100%;
    width: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
#flash p:empty {
    height: 0;
    border-bottom: 0px;
}
#flash p:not(:empty) {
    height: 1.5rem;
    font-size: 1rem;
}
#flash .alert {
    background-color: #ffc9c9;
    border-bottom: 2px solid #8a2828;
}
#flash .notice {
    background-color: #cef5d4;
    border-bottom: 2px solid #33613a;
}

main {
    width: 75%;
    margin: 2rem auto;
}


#bs-container {
    height: 4rem;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bs-container h2 {
    position: absolute;
    font-size: 2rem;
}
#bs-container h2:nth-of-type(1) {
    animation: 20s t-one linear infinite;
}
#bs-container h2:nth-of-type(2) {
    animation: 20s t-two linear infinite;
}
#bs-container h2:nth-of-type(3) {
    animation: 20s t-three linear infinite;
}
#bs-container h2:nth-of-type(4) {
    animation: 20s t-four linear infinite;
}
#bs-container h2:nth-of-type(5) {
    animation: 20s t-five linear infinite;
}
